#pageHeaderTitle {
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
  color: #24965a;
}

.cateringCard__title {
  width: 94vw;
}

@media only screen and (max-width: 996px) {
 
}

@media only screen and (max-width: 768px) {
  
}

@media only screen and (max-width: 576px) {
  .catering__banner {
    width: 40rem;
  }

  .cateringPage__row {
    flex-direction: column;
  }
}
